---
layout: layout-page.njk
title: Bases
description: Metadescripcion de la pagina de Acerca
---

<hi>{{ title }} </hi>
<h2>Sistema de electodepuracion fotovoltaico</h2>
<img src="/img/t1.png" alt="t1" width=100>
<img src="/img/t2.png" alt="t2" width=100>
<img src="/img/t3.png" alt="t3" width=100>
<hr>
<p>
  La ideacion de un sistema de purificacion de agua que pueda ser sustentable a largo plazo y extienda el tiempo de vida restante del aguas en el planeta
</p>

